@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
header {
    background: #1e1e1e;
}

.navbar {
    display: flex;
    max-width: 1000px;
    margin: auto;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.nav-links {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 50px;
}
.nav-links li{
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    padding: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
    color: #5438DC;
}
.menu-toggle{
    display: none;
    background-color: #1e1e1e;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.9rem;
    transition: transform 0.3s ease-in-out;
}
.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #1e1e1e;
}
.container {
    max-width: 1000px;
    margin: auto;
}
.sobre-mim img {
    width: 500px;
    height: 500px;
    margin: 50px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px 5px #5438DC;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
      border-color: transparent;
    }
  }
.container h1 {
    color: #5438DC;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    padding: 20px 20px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #1e1e1e;
    width: 0;
    animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}
.container h3 {
    color: #5438DC;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    animation: fadeIn 2s;
}
.container p {
    color: white;
    font-family: "Poppins", sans-serif;
    max-width: 800px;
    padding: 10px 20px;
    animation: fadeIn 2s;
}
#portfolio h3 {
    font-family: "Ubuntu";
    text-align: center;
    font-size: 3rem;
    color: #5438DC;
    margin: 50px 0;
}
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}
.post-grid {
    width: 350px;
    height: 350px;
    border: 1px solid #5338dc31;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329);
}
.post-grid img {
    width: 350px;
}
.site-grid {
    width: 600px;
    height: 300px;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 3px 5px #1e1e1e42;
}
#servicos h3 {
    font-family: "Ubuntu";
    text-align: center;
    font-size: 2rem;
    color: #5438DC;
    margin: 50px 0
}

@media (max-width: 768px){
    .menu-toggle {
        display: flex;
        position: relative;
        left: 45%;
    }
    .nav-links {
        position: absolute;
        top: 7%;
        left: 0;
        padding: 10px;
        gap: 10px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #1e1e1e;
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        visibility: hidden;
    }
    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
    .post-grid {
        width: 150px;
        height: 150px;
    }
    .post-grid img {
        width: 150px;
    }
    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
        flex-wrap: wrap;
        max-width: 1500px;
        margin: auto;
    }
    .container h1 {
        color: #5438DC;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        padding: 20px 20px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid #1e1e1e;
        width: 0;
        animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
    }
    .container h3 {
        color: #5438DC;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        padding: 10px 20px;
        animation: fadeIn 2s;
    }
    .container p {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        max-width: 800px;
        padding: 10px 20px;
        animation: fadeIn 2s;
    }
    .sobre-mim img {
        width: 280px;
        height: 280px;
        margin: 50px;
        margin: auto;
        border-radius: 50%;
        box-shadow: 10px 5px #5438DC;
        animation: fadeIn 2s;
    }
}