@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
header {
    background: #1e1e1e;
}

.navbar {
    display: flex;
    max-width: 1000px;
    margin: auto;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.nav-links {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 50px;
}
.nav-links li{
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    padding: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
    color: #5438DC;
}
.menu-toggle{
    display: none;
    background-color: #1e1e1e;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.9rem;
    transition: transform 0.3s ease-in-out;
}
.sobre-mim {
    display: flex;
    height: 100vh;
    background-color: #1e1e1e;
}
.container {
    max-width: 1000px;
    margin: auto;
}
.sobre-mim img {
    width: 500px;
    height: 500px;
    margin: 50px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px 5px #5438DC;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
      border-color: transparent;
    }
  }
.container h1 {
    text-align: left;
    color: #5438DC;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    padding: 0px 20px;
    animation: fadeIn 2s;
}
.container > h3 {
    color: #5438DC;
    text-align: left;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    padding: 0px 20px;
    animation: fadeIn 2s;
}
.container p {
    text-align: left;
    color: white;
    font-family: "Poppins", sans-serif;
    max-width: 800px;
    padding: 10px 20px;
    animation: fadeIn 2s;
}
.portfolio-site {
    display: none;
}
#porfolio {
    padding: 0;
    margin: 0;
}
#portfolio h3 {
    font-family: "Ubuntu";
    text-align: center;
    font-size: 3rem;
    color: #5438DC;
    margin: 50px 0;
}
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin: auto;
}
.post-grid {
    width: 350px;
    height: 350px;
    border: 1px solid #5338dc31;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329);
    margin: 0;
}
.post-grid img {
    width: 350px;
}
.empresas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
main h3 {
    font-family: "Ubuntu";
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: #5438DC;
    margin: 50px 0
}
.empresa-grid img {
    width: 250px;

}
#container {
    max-width: 900px;
    text-align: center;
}
h2 {
    margin: 20px;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #5438DC;

}
#services {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 20px;
}
.service {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.service:hover {
    transform: translateY(-5px);
}

.service h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}
.service p {
    font-size: 14px;
    color: #666;
}
